/*
 * Card css File
*/

  /* CARDS */

  
  .card {
    margin: 20px;
    width: 500px;
    min-height: 200px;
    display: flex;
    flex-flow: column;   
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__title {
    margin-top:19px;
    font-weight: 400;
    color: #ffffff;
  }
  .card__extract {
    margin-bottom:5px;
    font-weight: 400;
    color: #020202;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-item {
    background: radial-gradient(#8d8d8d, #c2c2c2);
  }

  
  .bleona{
    color: blue;
  }
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }